.row{
    border: 2px solid var(--secondary-colour);
    width: 80%;
    padding: 2rem;
    text-align: center;
}

.summary-row{
    display: flex;
    justify-content: space-evenly;
}

button{
    color: var(--black-colour);
    padding: 1rem;
    background-color: var(--off-white-colour);
    border-radius: 6px;
    font-weight: bolder;
}

hr{
     height: 1px;
        background-color: var(--white-colour);
        border: none;
        width: 50%;
}