@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');

/* Root Colours */

:root {
    --primary-colour: #3700B3; 
    --secondary-colour:#03dac6;
    --tertiary-colour:#bb86fc;
    --white-colour:#fdfffc;
    --off-white-colour:#efe9e7;
    --background-grey:#1e1e1e;
    --black-colour:#121212;
    --required-colour:#980707;
    --error-colour:#cf6679;
    --success-colour:#a1e44d;

}

/* Universals */


html{
    font-size: 62.5%;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('/static/images/home-bg-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: var(--white-colour);
    font-family: 'Archivo', sans-serif;
    font-size: 1.7rem;
}

/* Footer */

footer{
    position: static;
    margin-top: 5rem;
    min-height: 4rem;
    background-color: var(--background-grey);
    color: var(--off-white-colour);
    font-size: 2rem;
}

/* Main container across all pages */

.main-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-height: 60vh;
    margin-top: 10vh;
}

.overlay{
    background-color: var(--background-grey);
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}


h1, h2, h3, h4, h5{
    color: var(--white-colour);
    margin-top: 3rem;
}

/* Borders */

.blue-border{
    
}