
.testimonials{
    min-height: 200vh;
}

.cards{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card{
    height: 25rem;
    width: 25rem;
    background-color: var(--background-grey);
    color: var(--white-colour);
    
    font-size: 2rem;
    border-radius: 0.6rem;
    box-shadow: 0 4px 8px 0 rgba(241, 239, 239, 0.2);
    transition: 0.3s;
}

.card:hover{
    box-shadow: 0 32px 64px 0 rgba(255, 255, 255, 0.2);
}

.card a{
    color: var(--white-colour);
    text-decoration: none !important;
    height: 100%;
    width: 100%;display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card svg{
    height: 5rem;

}


.welcome-message{
    background-color: var(--background-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    border-radius: 6px;
    position: fixed;
    top:0;
    left: 0;
    height: 100vh;
    width: 100%;
    animation: disappear 2s linear 2s forwards;
    opacity: 1;
    z-index: 5;
}

@keyframes disappear {
    from {
        opacity: 1;   
        z-index: 5;
    }
    to {
        opacity: 0;
        z-index: -5;
    }

}
