{% extends 'base.html' %} 

{% load static %} 

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/pages/addticket.css' %}" />

{% endblock%} {% block content %}

<div class="overlay"></div>

<h1>Add Tickets page</h1>
<form method="POST" class="add-form" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="">
    <div class="">
      <label for="title">Title</label>
      {{ add_ticket_form.title }}
    </div>

    <div class="">
      <div class="">
        <label for="type">Type</label>
        {{ add_ticket_form.type }}
      </div>
    </div>
    <div class="">
      <label for="project">Project</label>
      {{ add_ticket_form.project }}
    </div>
  </div>
  <div class="">
    <div class="description">
      <label for="description">Description of Issue</label>
      {{ add_ticket_form.description }}
    </div>
  </div>

  <button class="" type="submit">Submit</button>
</form>
{% endblock %}
