{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/tickets.css' %}" />
{% endblock %}

{% block content %}

<div class="overlay"></div>

<h1>Tickets page</h1>
<hr />
<div class="search-and-filter">
	<form method="GET" action="">
		<div class="input-group w-100">
			<input
        class="form-control"
        type="text"
        name="q"
        placeholder="Search Tickets"
      />
			<div class="input-group-append">
				<button
          class="form-control btn border-black rounded-0"
          type="submit"
        ><span class="text-success">
          Search</span>
        </button>
			</div>
		</div>
	</form>
    <select name="status" id="status">
    <option value="opened" selected >Open</option>
    <option value="closed">Closed</option>
    </select>
</div>
<hr />

{% for ticket in tickets %}

<div class="row ticket">
	<div class="col">
		<h3>{{ ticket.title }}</h3>
		<h4>{{ ticket.status }}</h4>
	</div>
	<div class="col">
		<h5>Bug Type</h5>
		<div class="tag">Tag</div>
		<div class="tag">Tag</div>
		<div class="tag">Tag</div>
	</div>
	<div class="col">
		{{ ticket.description }}
	</div>
	<div class="col">
		<a href="{% url 'viewticket' ticket.id %}">View Ticket</a>
    </div>
</div>

{% endfor %}

{% endblock %}