{% extends 'base.html' %}

{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/viewticket.css' %}" />

{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="bug-container">
	<div class="row title-row">
		<div class="col-xs-12 col-md-4">
			<h1>{{ ticket.title }}</h1>
		</div>
		<div class="col-xs-12 col-md-4">
			<p>Created by {{ ticket.user }} on {{ ticket.creation_date }}</p>
		</div>
	</div>
	<hr />
	<div class="row summary-row">
		<div class="col-xs-12 col-md-4">
			Type: {{ ticket.type }}
		</div>
		<div class="col-xs-12 col-md-4">Status: {{ ticket.status }}</div>
		<div class="col-xs-12 col-md-4">Score: {{ ticket.score }}</div>
	</div>
	<hr class="hidden-xs hidden-xm display-md" />
	<div class="row description-row">
		<div class="col-xs-12 col-md-4">
			<h2>Summary and Notes</h2>
            <p>{{ ticket.description }}</p>
		</div>
		<div class="col-xs-12 col-md-4">
        {% for note in notes %}
            {{ note.content }} - added by {{ note.user }} on {{ note.creation_date }}
        {% endfor %}
        </div>
		<div class="col-xs-12 col-md-4">
			<form method="POST" action="{% url 'viewticket' ticket.id %}">
                {% csrf_token %}
				<input class="textarea" type="textarea" /><button class="notes-button" type="submit" >Add Notes</button>
			</form>
		</div>
	</div>
	<div class="row buttons-row">
		<div class="col button-row"><a href="{% url 'tickets' %}" class="btn btn-light">Back</a></div>
	</div>
</div>


{% endblock %}