
form{
    z-index: 5;
    color: var(--black-colour);
    height: 60vh;
    width: 100%;
}

label{
    color: var(--white-colour);
    margin: 4rem;
}

.butn{
    height: 2rem;
    width: 4rem;
    background-color: var(--white-colour);
}

.description{
    display: flex;
    flex-flow: column wrap;

}