fieldset {
  margin: 2rem;
  border: 1px solid var(--success-colour);
  border-radius: 6px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.product-row{
    width: 100%;
}
.product-row fieldset {
  width: 80%;
}

.product-class {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.buttons{
    position: static;
}

.checkout-success h2,
p, h3 {
  text-align: center;
  margin: 2rem;
}

.success-container {
  margin-top: 0;
}

.checkout-success p a {
  text-decoration: none;
  color: var(--success-colour);
}

.logo-font {
  text-align: center;
}


.button {
  padding: 1rem;
  border-radius: 6px;
  margin: 2rem 2rem 2rem 2rem auto;
  font-weight: bolder;
  box-shadow: 0 4px 8px 0 rgba(55, 0, 179, 0.8);
  text-decoration: none;
  color: var(--primary-colour);
  background-color: var(--off-white-colour);
}


.info-row{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    height: 35vh;

}

.info-row fieldset{
    height: 100%;
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form-column{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form-column div{
    width: 100%;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 4rem auto;
    width: 100%;
}