fieldset{
    margin: 2rem;
    border: 1px solid var(--success-colour);
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.row .col{
    min-height: 10rem;
    padding: 2rem;
    border: 2px solid var(--white-colour);
    border-radius: 6px;
}

.checkout-success h2, p{
    text-align: center;
    margin: 2rem;
}

.success-container{
    margin-top: 0;
}

.checkout-success p a{
    text-decoration: none;
    color: var(--success-colour);
}

.logo-font{
    text-align: center;
}

h3{
    text-align: center;
}