.product{
    border: 10px solid var(--off-white-colour);
    z-index: 2;
    padding: 3rem;
    width: 25rem;
    margin: 4rem auto;
    border-radius: 6px;
}

.products{
    z-index: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}