.product{
    border: 10px solid var(--off-white-colour);
    z-index: 2;
    padding: 3rem;
    width: 25rem;
    border-radius: 6px;
    margin: 5rem auto;
}

.products{
    z-index: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: 0rem 10rem 5rem 10rem;
}