{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'layout/head.html' %}
    
    {% block extra_css %}
    {% endblock %}

</head>

<body>
	<!-- Fixed masthead -->
	
{% include 'components/nav.html' %}

	<div class="container base-main">
		{% if messages %}
		<div class="alert alert-success">
			<div class="messages">
				{% for message in messages %}
				{{ message }}
				{% endfor %}
			</div>
		</div>
		{% endif %}

        {% block page_header%}
<div class="container main-container">
		{% endblock %}
		{% block content %}
</div>
		{% endblock %}
	</div>
	<footer>
		<div class="container">
			<p>Footer Here - Zac Warner etc.</p>
		</div>
	</footer>
</body>

{% block core_js %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'js/nav.js' %}"></script>
{% endblock %}

{% block extra_js %}
{% endblock %}
</html>