<footer>
	<div class="d-none d-lg-block">
		<div class="container desktop-container">
			<p>Made By Zac Warner</p>
			<a href="https://geminerald.github.io/geminerald/" target="_blank">Portfolio</a>
			<a href="https://github.com/geminerald?tab=repositories" target="_blank">GitHub</a>
			<a href="https://www.linkedin.com/in/zac-warner/" target="_blank">LinkedIn</a>
			<p><small>Please note that this is a test project and not a real business.</small></p>
		</div>
	</div>
	<div class="d-lg-none">
		<div class="container mobile-container ">
			<a href="https://geminerald.github.io/geminerald/" target="_blank">Mobile</a>
			<a href="https://github.com/geminerald?tab=repositories" target="_blank">Mobile</a>
			<a href="https://www.linkedin.com/in/zac-warner/" target="_blank">Mobile</a>
			<p><small>Please note that this is a test project and not a real business.</small></p>
		</div>
	</div>
</footer>